<button ng-click="graph()">Graph</button>
</div>
<div id="graphModal" class="graph modal fade hide" style="width: 900px; height: 500px;">
    <button ng-click="graphing=false;">Close</button>
    <div id="graph" style="width: 850px; height: 450px;"></div>
    <button type="button" class="close" data-dismiss="modal">Close</button>
    <div class="modal hide" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Modal header</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>
</div>