<div>
    <div name="scores" class="row col-md-10">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <th></th>
            <th class="{{deal(1)}}" ng-model="player1">{{players[0]}}</th>
            <th class="{{deal(2)}}" ng-model="player2">{{players[1]}}</th>
            <th class="{{deal(3)}}" ng-model="player3">{{players[2]}}</th>
            <th class="{{deal(4)}}" ng-model="player4">{{players[3]}}</th>
            </thead>
            <tr>
                <td class="col-md-2">
                    <strong>Total</strong>
                </td>
                <td class="col-md-2">
                    <strong>{{player1Total}}</strong>
                </td>
                <td class="col-md-2">
                    <strong>{{player2Total}}</strong>
                </td>
                <td class="col-md-2">
                    <strong>{{player3Total}}</strong>
                </td>
                <td class="col-md-2">
                    <strong>{{player4Total}}</strong>
                </td>
            </tr>
            <tr ng-repeat="score in scores.slice(0).reverse()">
                <td class="col-md-2">
                    Round {{score[0]}}
                </td>
                <td class="col-md-2">
                    {{score[1]}}
                </td>
                <td class="col-md-2">
                    {{score[2]}}
                </td>
                <td class="col-md-2">
                    {{score[3]}}
                </td>
                <td class="col-md-2">
                    {{score[4]}}
                </td>
            </tr>
        </table>
    </div>
</div>